<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "radio"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>radio</name>

    <description>
       radio
    </description>
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="de.appplant.cordova.plugin.local-notification" />

</widget>
